.search-bar-container {
    width: 300px;
    margin: 10px;
}

.search-bar {
    padding: 10px 20px;
    background-color: rgba(250, 202, 169);
    display: grid;
    grid-template-columns: 1fr 24px;
}

.search-bar__input {
    font-size: large;
    background-color: transparent;
    border: none;
    color: var(--color-primary);
}

.search-bar__button {
    border: none;
    background-color: transparent;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__icon {
    width: 20px;
}
